<nav class="blue">
    <div class="nav-wrapper">
        <a href="/blog" class="brand-logo">Blog</a>
        <a href="#" class="button-collapse" data-activates="mobile-demo"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/posts">Post</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="/posts">Post</a></li>
        </ul>
    </div>
</nav>

{{#each index}}
<h5>{{title}}</h5>
<p>{{post}}</p>
<p>{{comment}}</p>
<a href = "/comments"> <button class="btn waves-effect waves-light" type="submit" name="action">comment</a>
    <i class="material-icons right">send</i>
  </button>
{{/each}}
