<nav class="blue">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Blog</a>
        <a href="#" class="button-collapse" data-activates="mobile-demo"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/users">Sign up</a></li>
            <li><a href="/login">Log In</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="/users">Sign up</a></li>
            <li><a href="/login">Log In</a></li>
        </ul>
    </div>
</nav>
<div class = "container">
<div class = "row">
</div>
<div class = "row">
</div>
<div class = "row">
</div>
<div class = "row">
</div>
<div class = "col s12 centered">
<a class="waves-effect waves-light btn red">Signup</a>
        <a class="waves-effect waves-light btn yellow daken">Login</a>
        <a class="waves-effect waves-light btn blue"L>Login With Facebook</a>

</div>
