<nav class="blue">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Blog</a>
        <a href="#" class="button-collapse" data-activates="mobile-demo"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/login">Log In</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="/">Home</a></li>
            <li><a href="/login">Log In</a></li>
        </ul>
    </div>
</nav>
{{#each index}}
<h1>{{title}}</h1>
<p>{{post}}</p>

{{/each}}
