<link rel="stylesheet" href="/stylesheets/style.css">
<img src="http://www.davidpickles.com/photos/8b1a8475484bb8e60b570fe7c1a2.jpg" alt="logo" />
<h1>blogPositive</h1>
<p>It's human nature to be negative.  Defy it. Store your positive resources here.</p>
<div class = "container">
<div class = "row">
</div>
<div class = "row">
</div>
<div class = "row">
</div>
<div class = "row">
</div>
<div class = "col s12 centered">
<a class="waves-effect waves-light btn black" href="/users">Signup</a>
<a class="waves-effect waves-light btn grey" href="/login">Login</a>
<a class="waves-effect waves-light btn orange" href="/fblogin">Login With Facebook</a>
</div>
</div>
