
<img src="http://www.davidpickles.com/photos/8b1a8475484bb8e60b570fe7c1a2.jpg" alt="logo" />
<h1>blogPositive</h1>
<div class = "container">
<div class = "row">
</div>
<div class = "row">
</div>
<div class = "row">
</div>
<div class = "row">
</div>
<div class = "col s12 centered">
<a class="waves-effect waves-light btn black" href="/users">Signup</a>
<a class="waves-effect waves-light btn grey" href="/login">Login</a>
<a class="waves-effect waves-light btn orange" href="/login">Login With Facebook</a>

</div>
