<!DOCTYPE html>
<html>

<head>
    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <!-- local materialize -->
    <!-- <link rel="stylesheet" href="/stylesheets/materialize/css/materialize.css"> -->

    <!-- materialize javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

    <!-- local javascript -->
    <!-- <script src="/js/layout.js"></script> -->

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

    <!-- Materilize icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- local css -->
    <link rel="stylesheet" href="/stylesheets/style.css">

    <title>{{title}}</title>

</head>

<body>

    {{{body}}}

</body>

</html>
