<!-- <link rel="stylesheet" href="/stylesheets/login.css"> -->

<nav class="blue">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Blog</a>
        <a href="#" class="button-collapse" data-activates="mobile-demo"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/users">Sign Up</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="/">Home</a></li>
            <li><a href="/users">Sign Up</a></li>
        </ul>
    </div>
</nav>
<br>

<div class="container">
    <div class="container center-align">
        <button class="btn waves-effect waves-light" href="/users/auth/facebook">Log In With Facebook
  </button>
    </div>
    <div class="row">
        <form action="/login" method="post" class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate" name="email">
                    <label for="em">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate" name="password">
                    <label for="pw">Password</label>
                </div>
            </div>
            <div class="container center-align">
                <button class="btn waves-effect waves-light" type="submit" name="action" value="submit">Submit
            </button>
            </div>
        </form>
    </div>

</div>
